*{
	margin:0;
	padding:0;
	font-family: helvetica, arial;
	/*border: 1px solid white;*/
}

h1{
	text-align:center;
	display:inline-block;
	width:75%;
}

h2{
	text-align:left;
	display:inline-block;
	width:10%;
}

header{
	vertical-align:center;
	width:100%;
	background-color: rgb(1,93,170);
}

body{
	background-color:rgb(140,166,215);
}

header p{
	display:inline-block;
	text-align:right;
	width:10%;
}

header a{
	color: white;
	text-decoration: none;
	
}

header a:hover{
	text-decoration: underline;
}

nav	a{
	display:inline-block;
	width:15%;
	line-height:40px;
}

